.sidebarMenuItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: var(--background);
        border-radius: 30px;
    }    

    .sidebarIconButton {
        color: black;
    }

    .title {
        font-size: 20px;
        font-weight: 400;
    }

    &__active {
        .sidebarIconButton {
            color: var(--primary);
        }
    
        .title {
            color: var(--primary);
            font-weight: 600;
        }
    }
}