.sidebarMenuItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.sidebarMenuItem:hover {
    background-color: #cccccc4c;
    border-radius: 30px;
}

.sidebarMenuItem .title {
    font-size: 20px;
    font-weight: 400;
}

.sidebarMenuItem__active {
    .title {
        font-weight: 600;
    }
}
