.whatIsHappening {
    border-bottom: 1px solid var(--background);

    & > div { 
        width: 100%;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
    }

    .avatar {
        margin-right: 12px;
    }
}

.inputForm {
    width: 100%;

    .form {
        width: 100%;
    }

    .whoCanReply {
        display: inline-flex;
        align-items: center;
        padding: 5px 8px;
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 50px;
        transition: .3s ease-out;

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 8px;
        border-top: 1px solid var(--background);

        .buttonIcons { }

        .fileUpload {
            color: var(--primary);
        }

        .postAndProgress {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .messageProgress {
            color: var(--primary);
        }
    
        .postButton {
            height: 36px;
            padding: 0 16px;
            background-color: var(--primary);
            border-radius: 50px;
            text-transform: capitalize;
        }
    }
}